doctype html
head
  title YATRA
  link(rel='stylesheet' type='text/css' href='./css/style.css')
nav
  .nav-left
    | YATRA
  .nav-right
    a(href='#') Home
    a(href='#') About Us
    a(href='#') Services
    a(href='#') Contact Us
.content-wrapper
  .left-content
    .content
      h2 YATRA
      p Your ideal partnedadadadadral partnedadadadaand that thingyy
  .right-content
    .content
      h2 Right Content
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus placerat, nunc sed suscipit sagittis, lectus augue molestie velit, eu finibus erat nunc in leo.
footer
  | &copy; 2023 YATRA. All rights reserved.
