doctype html
head
  title Welcome to yatra
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
nav
  .nav-left
    a(href='#')
      img(src='icon.png')
  ul.nav-right
    button.button-green(onclick="lclick()") Log In
    button.button-blue(onclick="Sclick()") Sign Up
.container
  .column1
    h1 Be
    h1 A
    h1 Sponsor
    br
    br
    br
    br
    form(action='/login' method='GET')
      button.button-blue login
  .column2
    h1 FIND
    h1 A
    h1 Sponsor
    br
    br
    br
    br
    form(action='/signup' method='GET')
      button.button-green signup

