doctype html
head
  title YATRA
  link(rel='stylesheet' type='text/css' href='/css/style.css')
nav
  .nav-left
    | YATRA
  .nav-right
    a(href='/finderGiver') HOME
    a(href='/signupForm') ABOUT US
    a(href='/signupForm') SERVICES
    a(href='/signupForm') CONTACT US
.content-wrapper
  .left-content
    .content
      h2#logoH YATRA
      p#tagline Making it easier for you to find the right brand to work with/for
  .right-content
    .content
      h2.greenF FIND,
      h2.greenF CONNECT,
      h2.greenF.l WORK 
      h3.clear.r WITH
      h3.clear ANY BRANDS
      button.join-button(onclick="location.href='/signupForm'") Join Us
footer
  | &copy; 2023 YATRA. All rights reserved.
