doctype html
head
  title Welcome to yatra
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet')
  link(rel='stylesheet' type='text/css' href='/css/style.css')
nav
  .nav-left
    a(href='#')
      img(src='icon.png' alt="logo here")
  ul.nav-right
    form(action='/login' method='GET')
      button.button-green Log In
    form(action='/signupForm' method='GET')
      button.button-blue Sign Up
.container
  .column1
    h1 Be
    h1 A
    h1 Sponsor
    br
    br
    br
    br
    form(action='/giver' method='GET')
      button.button-blue Find influencers
  .column2
    h1 FIND
    h1 A
    h1 Sponsor
    br
    br
    br
    br
    form(action='/finder' method='GET')
      button.button-green Find Sponsors

