doctype html
head
  title Signup Form
  link(rel='stylesheet' type='text/css' href='/css/style.css')
h1 Registration Form
form(action="/signup", method="POST")
  label(for='fname') First Name:
  input#fname(type='text' name='fname' required='')
  br
  label(for='lname') Last Name:
  input#lname(type='text' name='lname' required='')
  br
  label(for='number') Phone Number:
  input#number(type='tel' name='number' required='')
  br
  label(for='email') Email Address:
  input#email(type='email' name='email' required='')
  br
  label(for='password') Password:
  input#password(type='password' name='password' required='')
  br
  label(for='role') Role:
  select#role(name='role')
    option(value='admin') Admin
    option(value='user') User
  br
  label(for='address') Address:
  textarea#address(name='address' rows='5' cols='40')
  br
  input(type='submit' value='Submit')
